<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
         version="5.0"> 
    <display-name>exam</display-name>
    
    <servlet> 
        <servlet-name>PrevisionServlet</servlet-name> 
        <servlet-class>servlet.PrevisionServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>PrevisionServlet</servlet-name> 
        <url-pattern>/PrevisionServlet</url-pattern> 
    </servlet-mapping>

    <servlet> 
        <servlet-name>DepenseServlet</servlet-name> 
        <servlet-class>servlet.DepenseServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>DepenseServlet</servlet-name> 
        <url-pattern>/DepenseServlet</url-pattern> 
    </servlet-mapping>

    <servlet> 
        <servlet-name>FormDeServlet</servlet-name> 
        <servlet-class>servlet.FormDeServlet</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>FormDeServlet</servlet-name> 
        <url-pattern>/FormDeServlet</url-pattern> 
    </servlet-mapping> 
    <servlet>
    <servlet-name>EtatServlet</servlet-name>
    <servlet-class>servlet.EtatServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EtatServlet</servlet-name>
    <url-pattern>/EtatServlet</url-pattern>
</servlet-mapping>
</web-app> 
